#mainHeader {
    background-image: url("../Images/image1.jpg");
    height: 700px;
    background-repeat: no-repeat;

}

#HeadingMain {
    padding: 235px;
    text-align: center;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
}